
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read access to everyone
    match /{allPaths=**} {
      allow read;
    }

    // Allow write access only to authenticated users for files in their own folder
    match /resources/{userId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
